@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.humburger-bg {
  display: none;
}

.place {
  width: 100%;
  height: 45px;
  background-color: #f7f7f7;
  padding-left: 11%;
  padding-top: 15px;
  font: normal 15px "Montserrat";
  color: #333333;
}

.more-btn {
  width: 220px;
  height: 54px;
  background: -webkit-gradient(linear, left top, right top, from(#7633a4), to(#250d65));
  background: linear-gradient(to right, #7633a4, #250d65);
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: block;
  color: white;
  font: bold 15px "Montserrat";
  padding-top: 18px;
}
@media screen and (max-width: 1000px) {
  .more-btn {
    width: 150px;
    height: 50px;
  }
}

header {
  width: 100%;
  height: 768px;
  position: relative;
}
header .header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
header .header-top {
  margin-left: 30px;
  margin-top: 34px;
}
header .menu-list {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-top: 34px;
  position: absolute;
  right: 30px;
}
header .menu-list li {
  cursor: pointer;
}
header .menu-list li:nth-child(1):after {
  position: absolute;
  left: 0;
  content: "";
  width: 46px;
  height: 2px;
  background: white;
  bottom: -1px;
  /*アンダーラインがaタグの下端から現れる*/
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  /*変形の時間*/
}
header .menu-list li:nth-child(2):after {
  position: absolute;
  left: 70px;
  content: "";
  width: 63px;
  height: 2px;
  background: white;
  bottom: -1px;
  /*アンダーラインがaタグの下端から現れる*/
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  /*変形の時間*/
}
header .menu-list li:nth-child(3):after {
  position: absolute;
  left: 159px;
  content: "";
  width: 57px;
  height: 2px;
  background: white;
  bottom: -1px;
  /*アンダーラインがaタグの下端から現れる*/
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  /*変形の時間*/
}
header .menu-list li:nth-child(4):after {
  position: absolute;
  left: 240px;
  content: "";
  width: 76px;
  height: 2px;
  background: white;
  bottom: -1px;
  /*アンダーラインがaタグの下端から現れる*/
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  /*変形の時間*/
}
header .menu-list li:nth-child(5):after {
  position: absolute;
  left: 342px;
  content: "";
  width: 64px;
  height: 2px;
  background: white;
  bottom: -1px;
  /*アンダーラインがaタグの下端から現れる*/
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  /*変形の時間*/
}
header .menu-list li:nth-child(6):after {
  position: absolute;
  left: 431px;
  content: "";
  width: 70px;
  height: 2px;
  background: white;
  bottom: -1px;
  /*アンダーラインがaタグの下端から現れる*/
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  /*変形の時間*/
}
header .menu-list li:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  /*ホバー後、x軸方向に1（相対値）伸長*/
}
header .header-ttl {
  color: white;
  font: bold 72px "Montserrat";
  letter-spacing: 0.05;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 265px;
}
@media screen and (max-width: 952px) {
  header .header-ttl {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}
header .header-head {
  color: white;
  font: 600 24px "Hiragino Kaku Gothic Pro";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
header .contact-btn {
  width: 220px;
  height: 55px;
  color: white;
  font: bold 15px "Montserrat";
  border: white 1px solid;
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -10;
}

.news-section {
  margin-top: 66px;
  width: 51.8%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4%;
}
.news-section .section-top .news-top {
  color: #391e88;
  font: bold 36px "Montserrat";
}
.news-section .section-top .news-dsc {
  margin-top: 5px;
  font: 600 13px "Hiragino Kaku Gothic Pro";
}
.news-section .section-right {
  color: #333333;
}
.news-section .section-right .news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news-section .section-right .news-list .news-date {
  font: normal 15px "Montserrat";
}
.news-section .section-right .news-list .news-head {
  min-width: 82px;
  height: 22px;
  font: normal 12px "Montserrat";
  text-align: center;
  padding-top: 2px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e8e8e8;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.news-section .section-right .news-list .spacer {
  display: none;
}
.news-section .section-right .news-list .news-article {
  font: 300 15px "Hiragino Kaku Gothic Pro";
}
@media screen and (max-width: 844px) {
  .news-section .section-right .news-list .news-article {
    font-size: 10px;
  }
}
.news-section .section-right .news-list:not(:first-child) {
  margin-top: 15px;
}

.service-section {
  margin-top: 144px;
  width: 77%;
  margin-right: auto;
  margin-left: auto;
}
.service-section .service-top {
  color: #391e88;
  font: bold 36px "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service-section .service-dsc {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 600 13px "Hiragino Kaku Gothic Pro";
}
.service-section .container-box {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.service-section .container-box .container-item {
  width: 33%;
}
.service-section .container-box .container-img {
  width: 100%;
}
.service-section .container-box .container-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 14px;
  font: bold 18px "Montserrat";
}
.service-section .container-box .container-text {
  font: 300 15px "Hiragino Kaku Gothic Pro";
}

.works-section {
  width: 88%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 140px;
}
.works-section .works-inner {
  width: 100%;
  height: 651px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.works-section .works-inner .swiper-container {
  width: 52%;
  height: 78%;
  position: absolute !important;
  z-index: 2;
  margin-top: 60px;
  overflow: hidden;
}
.works-section .works-inner .swiper-container .swiper-wrapper {
  width: 750px;
  height: 510px;
}
.works-section .works-inner .swiper-container .swiper-wrapper .swiper-slide {
  width: 750px;
  height: 100%;
  overflow: hidden;
}
.works-section .works-inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3n+1) {
  /*1、4、7、3n+1枚目の背景色 */
  background-image: url("/img/works/works1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.works-section .works-inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3n+2) {
  /*2、5、8、3n+2枚目の背景色 */
  background-image: url("/img/works/works2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.works-section .works-inner .swiper-container .swiper-wrapper .swiper-slide:nth-child(3n+3) {
  /*3、6、9、3n+3枚目の背景色 */
  background-image: url("/img/works/works3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.works-section .works-inner .works-box {
  width: 70%;
  height: 651px;
  background-color: #f0f0f0;
  position: absolute;
  z-index: 1;
  right: 0px;
  text-align: center;
}
.works-section .works-inner .works-box .box-inner {
  width: 51%;
  margin-left: 42%;
  margin-top: 210px;
}
.works-section .works-inner .works-box .box-inner .works-top {
  color: #391e88;
  font: bold 36px "Montserrat";
}
.works-section .works-inner .works-box .box-inner .works-dsc {
  margin-top: 5px;
  color: #391e88;
  font: 600 13px "Hiragino Kaku Gothic Pro";
}
.works-section .works-inner .works-box .box-inner .works-text {
  margin-top: 30px;
  color: #333333;
  font: 300 15px "Hiragino Kaku Gothic Pro";
}

.company-section {
  padding-top: 38px;
  position: relative;
}
.company-section .company-inner {
  margin-top: 140px;
  width: 90%;
  height: 615px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.company-section .company-inner .company-top {
  color: #391e88;
  font: bold 36px "Montserrat";
}
.company-section .company-inner .company-dsc {
  margin-top: 5px;
  color: #391e88;
  font: 600 13px "Hiragino Kaku Gothic Pro";
}
.company-section .company-inner .company-head {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font: 600 40px "Hiragino Kaku Gothic Pro";
  border-bottom: solid 12px yellow;
}
@media screen and (max-width: 768px) {
  .company-section .company-inner .company-head {
    font-size: 32px;
  }
}
.company-section .company-inner .phone {
  display: none;
}
@media screen and (max-width: 768px) {
  .company-section .company-inner .pc {
    display: none;
  }
  .company-section .company-inner .phone {
    display: block;
    padding-bottom: 60px;
  }
}
.company-section .company-inner .company-text {
  margin-top: 30px;
  color: #333333;
  font: 300 15px "Hiragino Kaku Gothic Pro";
  line-height: 1.8;
}
.company-section img {
  position: absolute;
  top: 0px;
}
.company-section .company-img1 {
  width: 14.5%;
  left: 4%;
  top: 175px;
}
.company-section .company-img2 {
  width: 14.5%;
  right: 4%;
  top: 175px;
}
.company-section .company-img3 {
  width: 12.3%;
  left: 15%;
  top: 438px;
}
.company-section .company-img4 {
  width: 12.3%;
  right: 15%;
  top: 438px;
}
.company-section .dt {
  width: 60%;
  height: 615px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: -100;
  top: 38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.company-section .dt .dt1 {
  width: 153px;
  height: 153px;
  border-radius: 50%;
  background-color: #f4f2f8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 18%;
}
.company-section .dt .dt2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fbedff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 0px;
}
.company-section .dt .dt3 {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #e8faff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 76px;
  left: 80%;
}
.company-section .dt .dt4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f9fdc8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 153px;
  left: 0px;
}
.company-section .dt .dt5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fbedff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 480px;
  left: 16%;
}
.company-section .dt .dt6 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f9fdc8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 565px;
  left: 72%;
}

.recruit {
  width: 100%;
  height: 332px;
}
.recruit .recruit-inner {
  width: 77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.recruit .recruit-inner .inner-box {
  width: 40%;
  min-height: 332px;
  text-align: center;
  padding-top: 40px;
  background-color: #f7f7f7;
}
.recruit .recruit-inner .inner-box .recruit-top {
  color: #391e88;
  font: bold 36px "Montserrat";
}
.recruit .recruit-inner .inner-box .recruit-dsc {
  margin-top: 5px;
  color: #391e88;
  font: 600 13px "Hiragino Kaku Gothic Pro";
}
.recruit .recruit-inner .inner-box .recruit-text {
  margin-top: 30px;
  color: #333333;
  font: 300 15px "Hiragino Kaku Gothic Pro";
  line-height: 1.8;
}
.recruit .recruit-inner .inner-img {
  width: 60%;
  background-position: center;
  background-size: cover;
  background-image: url("/img/top-page/recruit-img.png");
}
@media screen and (max-width: 768px) {
  .recruit .recruit-inner .inner-img {
    width: 100%;
    height: 140px;
    background-position: center;
  }
}

.contact {
  width: 100%;
  height: 356px;
  background-color: #f7f7f7;
  text-align: center;
  margin-top: 110px;
}
.contact .contact-top {
  color: #391e88;
  font: bold 36px "Montserrat";
  padding-top: 80px;
}
.contact .contact-dsc {
  margin-top: 5px;
  color: #391e88;
  font: 600 13px "Hiragino Kaku Gothic Pro";
}
.contact .contact-text {
  margin-top: 30px;
  color: #333333;
  font: 300 15px "Hiragino Kaku Gothic Pro";
  line-height: 1.8;
}

footer {
  width: 100%;
  height: 173px;
  color: #fff;
  background-color: #120e19;
  text-align: center;
}
footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1%;
  padding-top: 60px;
}
footer nav ul li {
  font: bold 14px "Montserrat";
}
footer .copyright {
  color: #a798b7;
  margin-top: 22px;
}

@media screen and (max-width: 768px) {
  header {
    height: 812px;
  }
  header .header-ttl {
    width: 294px !important;
    height: 93px;
    font-size: 40px;
    margin-top: 226px !important;
  }
  header .header-head {
    width: 156px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .news-section {
    width: 90%;
    display: block;
  }
  .news-section .section-top {
    text-align: center;
  }
  .news-section .section-right {
    margin-top: 32px;
    width: 100%;
  }
  .news-section .section-right .news-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-section .section-right .news-list .spacer {
    display: block !important;
    width: 100%;
  }
  .news-section .section-right .news-list .news-article {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.9;
  }
  .news-section .section-right .news-list:not(:first-child) {
    margin-top: 40px;
  }

  .service-section .container-box {
    display: block;
  }
  .service-section .container-box .container-item {
    width: 100%;
    text-align: center;
  }
  .service-section .container-item:not(:first-child) {
    margin-top: 40px !important;
  }

  .works-section {
    width: 100%;
    margin-top: 40px !important;
    height: 600px;
  }
  .works-section .works-inner {
    display: block !important;
    height: 100%;
  }
  .works-section .works-inner .swiper-container {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    top: -200px;
  }
  .works-section .works-inner .swiper-container .swiper-wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .works-section .works-inner .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .works-section .works-inner .works-box {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .works-section .works-inner .works-box .box-inner {
    width: 100%;
    padding-top: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .works-section .works-inner .works-box .box-inner .works-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .company-section .company-inner .company-head {
    font-size: 25px;
  }
  .company-section .company-inner .company-text {
    margin-top: 70px;
  }
  .company-section img {
    display: none;
  }

  .recruit {
    width: 100%;
    height: 100%;
  }
  .recruit .recruit-inner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recruit .recruit-inner .inner-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .recruit .recruit-inner .inner-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }

  footer {
    height: 213px;
  }
  footer nav ul {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-right: 30px;
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    gap: 5%;
  }
  footer nav ul li a {
    color: white;
    margin-top: 10px;
  }

  .contact {
    margin-top: 40px;
  }
  .contact .contact-text {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .menu-list {
    display: none !important;
  }

  .humburger {
    width: 34px;
    height: 16px;
    position: fixed;
    z-index: 1000;
    top: 24px;
    right: 20px;
  }
  .humburger .line {
    width: 34px;
    height: 2px;
    background-color: white;
  }
  .humburger .line:nth-child(2) {
    top: 6px;
    position: absolute;
  }
  .humburger .line:nth-child(3) {
    top: 12px;
    position: absolute;
  }

  .active .line:nth-child(1) {
    position: absolute;
    transform: rotate(45deg) translateY(-7px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: rotate(45deg) translateY(-7px);
    -moz-transform: rotate(45deg) translateY(-7px);
    -ms-transform: rotate(45deg) translateY(-7px);
    -o-transform: rotate(45deg) translateY(-7px);
  }
  .active .line:nth-child(2) {
    display: none;
  }
  .active .line:nth-child(3) {
    transform: rotate(-45deg) translateY(7px);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transform: rotate(-45deg) translateY(7px);
    -moz-transform: rotate(-45deg) translateY(7px);
    -ms-transform: rotate(-45deg) translateY(7px);
    -o-transform: rotate(-45deg) translateY(7px);
  }

  .humburger-bg {
    display: block;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    transition: all 0.2s;
    top: 0px;
    right: -1000px;
    background: linear-gradient(120deg, #62228e, #19074a);
    z-index: 500;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    color: white;
    text-align: center;
  }
  .humburger-bg ul {
    display: none;
  }

  .open {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background: linear-gradient(120deg, #62228e, #19074a);
    z-index: 500;
  }
  .open ul {
    display: block;
    position: absolute;
    top: 299px;
    left: 50%;
    font: bold 15px "Montserrat";
  }
  .open ul li:not(:first-child) {
    margin-top: 20px;
  }
}
.news-page .section1 {
  display: block;
  width: 80%;
}
.news-page .section2 {
  display: none;
  width: 80%;
}
.news-page .section3 {
  display: none;
  width: 80%;
}
.news-page .page-btn {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 145px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
}
.news-page .page-btn .page-block {
  font: bold 20px "Montserrat";
  width: 45px;
  height: 45px;
  color: #4f31a5;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  background-color: #f1ebf8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.news-page .page-btn .page {
  font: bold 20px "Montserrat";
  width: 45px;
  height: 45px;
  color: white;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#7633a4), to(#250d65));
  background: linear-gradient(#7633a4, #250d65);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.news-single-page {
  color: #333333;
}
.news-single-page .single-page {
  width: 52%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
}
.news-single-page .single-page .single-head {
  font: normal 32px "Montserrat";
}
.news-single-page .single-flex {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.news-single-page .single-flex .single-date {
  padding-top: 2px;
  font: normal 13px "Montserrat";
}
.news-single-page .single-flex .single-flex-head {
  width: 82px;
  height: 22px;
  border-radius: 30px;
  text-align: center;
  padding-top: 2px;
  font: bold 12px "Montserrat";
  background-color: #e8e8e8;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.news-single-page .single-img {
  margin-top: 27px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
.news-single-page .single-img-text {
  font: 300 15px "Hiragino Kaku Gothic Pro";
  line-height: 1.66;
  letter-spacing: 0.05;
}
.news-single-page .big-ttl-head {
  margin-top: 60px;
  margin-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.news-single-page .big-ttl-head .obj {
  width: 6px;
  height: 38px;
  border-radius: 30px;
  background-color: #391e88;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.news-single-page .big-ttl-head .big-ttl-head-text {
  font: 600 24px "Hiragino Kaku Gothic Pro";
}
.news-single-page .big-ttl-text {
  font: 300 15px "Hiragino Kaku Gothic Pro";
  line-height: 1.66;
  letter-spacing: 0.05;
}
.news-single-page .small-ttl {
  margin-top: 39px;
}
.news-single-page .small-ttl .small-ttl-head-text {
  font: 600 18px "Hiragino Kaku Gothic Pro";
}
.news-single-page .small-ttl .small-ttl-text {
  margin-top: 20px;
  font: 300 15px "Hiragino Kaku Gothic Pro";
  line-height: 1.66;
  letter-spacing: 0.05;
}
.news-single-page .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-top: 40px;
}
.news-single-page .media .media-logo {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .news-single-page .single-page {
    width: 90%;
  }
  .news-single-page .single-page .single-head {
    font: normal 22px "Montserrat";
  }
}

.service-page .service .service-container {
  width: 77%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
}
.service-page .service .service-container .service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.service-page .service .service-container .service-item .service-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1000px) {
  .service-page .service .service-container .service-item .service-img {
    width: 100%;
  }
  .service-page .service .service-container .service-item .service-img img {
    width: 100%;
  }
}
.service-page .service .service-container .service-item .service-text .service-text-head {
  font: bold 24px "Montserrat";
}
.service-page .service .service-container .service-item .service-text .service-text-body {
  font: 15px normal "Montserrat";
  line-height: 1.9;
  color: #333;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .service-page .service .service-container .service-item {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .service-page .service .service-container {
    width: 90%;
  }
}

.works-page .works-body .works-body-inner {
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works-page .works-body .works-body-inner .works-list {
  width: 33%;
  text-align: center;
}
.works-page .works-body .works-body-inner .works-list .works-img {
  width: 100%;
}
.works-page .works-body .works-body-inner .works-list .works-img img {
  width: 100%;
}
.works-page .works-body .works-body-inner .works-list .works-text {
  font: 15px normal "Montserrat";
  line-height: 1.9;
  color: #333;
}
@media screen and (max-width: 768px) {
  .works-page .works-body .works-body-inner {
    width: 90%;
    display: block;
  }
  .works-page .works-body .works-body-inner .works-list {
    width: 100%;
  }
}

.company-page .company-ceo {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.company-page .company-ceo .ceo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company-page .company-ceo .ceo-text {
  font: 300 15px "Hiragino Kaku Gothic Pro";
  line-height: 1.9;
}
@media screen and (max-width: 1010px) {
  .company-page .company-ceo {
    display: block;
  }
  .company-page .company-ceo .ceo-img {
    width: 100%;
  }
  .company-page .company-ceo .ceo-img img {
    width: 100%;
  }
  .company-page .company-ceo .ceo-text {
    margin-top: 30px;
  }
}
.company-page .company-about {
  margin-top: 140px;
  width: 77%;
  margin-right: auto;
  margin-left: auto;
}
.company-page .company-about .about-top {
  text-align: center;
  font: bold 32px "Montserrat";
  color: #391e88;
  margin-bottom: 40px;
}
.company-page .company-about .about-list {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 28.5px;
  position: relative;
}
.company-page .company-about .about-list .about-list-head {
  font: 600 15px "Hiragino Kaku Gothic Pro";
  padding-left: 30px;
}
.company-page .company-about .about-list .about-list-text {
  padding-top: 2px;
  font: 15px normal "Montserrat";
  position: absolute;
  left: 173px;
}
@media screen and (max-width: 768px) {
  .company-page .company-about .about-list {
    display: block;
    position: relative;
    padding-bottom: 20px;
  }
  .company-page .company-about .about-list .about-list-head {
    padding-left: 0px;
  }
  .company-page .company-about .about-list .about-list-text {
    margin-top: 10px;
    position: relative;
    left: 0px;
  }
}
.company-page .company-about .map {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 10px;
}
.company-page .company-about .look-map {
  font: 300 15px "Hiragino Kaku Gothic Pro";
  color: #333;
}

.recruit-page {
  background-image: url("/img/recruit/bg-geometry.png");
}
.recruit-page .recruit-top {
  text-align: center;
}
.recruit-page .recruit-top .top-head {
  color: #391e88;
  font: bold 36px "Montserrat";
  margin-top: 116px;
}
.recruit-page .recruit-top .top-dsc {
  margin-top: 15px;
  margin-bottom: 40px;
  color: #391e88;
  font: 600 13px "Hiragino Kaku Gothic Pro";
}
.recruit-page .recruit-top .top-text {
  color: #333333;
  font: 300 15px "Hiragino Kaku Gothic Pro";
}
.recruit-page .recruit-top .top-img {
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: auto;
}
.recruit-page .recruit-top .top-img img {
  width: 100%;
  height: auto;
}
.recruit-page .recruit-about {
  margin-top: 50px;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
}
.recruit-page .recruit-about .about-top {
  color: #391e88;
  font: 700 32px "Hiragino Kaku Gothic Pro";
  margin-bottom: 40px;
}
.recruit-page .recruit-about .about-box {
  padding-bottom: 60px;
  width: 100%;
  background-color: white;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.16));
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.16));
}
.recruit-page .recruit-about .about-box .box-top {
  padding-top: 60px;
  padding-bottom: 16px;
  font: bold 24px "Montserrat";
}
.recruit-page .recruit-about .about-box .box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px #dddddd solid;
  padding-bottom: 30px;
  padding-top: 32.5px;
  position: relative;
}
.recruit-page .recruit-about .about-box .box-list .list-head {
  margin-left: 20px;
  font: 600 15px "Hiragino Kaku Gothic Pro";
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit-about .about-box .box-list .list-head {
    margin-left: 0px;
  }
}
.recruit-page .recruit-about .about-box .box-list .list-text {
  font: normal 15px "Montserrat";
  position: absolute;
  left: 180px;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit-about .about-box .box-list .list-text {
    position: relative;
    left: 0px;
    text-align: start;
  }
}
.recruit-page .recruit-about .about-box .box-list .li-text-box {
  font: normal 15px "Montserrat";
  position: absolute;
  left: 180px;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit-about .about-box .box-list .li-text-box {
    position: relative;
    left: 0px;
    text-align: start;
  }
}
.recruit-page .recruit-about .about-box .box-list .li-text-box .text2 {
  height: 50px;
  overflow-y: scroll;
  margin-top: 20px;
  font: normal 15px "Montserrat";
  line-height: 1.9;
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit-about .about-box .box-list {
    display: block;
    text-align: start;
    padding-bottom: 15px;
  }
}
.recruit-page .recruit-about .about-box .box-list:nth-child(6) {
  padding-bottom: 148px;
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit-about .about-box .box-list:nth-child(6) {
    padding-bottom: 30px;
  }
}
.recruit-page .recruit-about .about-box .more-btn {
  margin-top: 50px;
  margin-bottom: 5px;
}
.recruit-page .recruit-about .about-box .btn-dsc {
  font: normal 12px "Montserrat";
  color: #333;
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit-about {
    width: 90%;
  }
}
.recruit-page .recruit-movie {
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  margin-bottom: 140px;
}
.recruit-page .recruit-movie .movie-head {
  color: #391e88;
  font: bold 36px "Montserrat";
  margin-bottom: 40px;
}
.recruit-page .recruit-movie video {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .recruit-page .recruit-movie {
    width: 90%;
  }
}
.contact-page .dsc {
  text-align: center;
  font: 300 16px "Hiragino Kaku Gothic Pro";
  margin-top: 70px;
  margin-bottom: 40px;
}
.contact-page .contact-box {
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7f7f7;
  margin-bottom: 70px;
  padding-top: 52px;
  padding-bottom: 90px;
  padding-left: 90px;
  padding-right: 90px;
}
@media screen and (max-width: 768px) {
  .contact-page .contact-box {
    width: 90%;
  }
}
.contact-page .contact-box .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-page .contact-box .head .head-name {
  font: 300 16px "Hiragino Kaku Gothic Pro";
}
.contact-page .contact-box .head .nes {
  margin-left: 10px;
  font: 600 12px "Hiragino Kaku Gothic Pro";
  color: #391e88;
}
.contact-page .contact-box .head .tell-dsc {
  font: 300 12px "Hiragino Kaku Gothic Pro";
}
.contact-page .contact-box .input-box {
  margin-top: 12px;
  width: 300px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.contact-page .contact-box .input-tel {
  margin-top: 12px;
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.contact-page .contact-box .input-textarea {
  margin-top: 12px;
  width: 600px;
  max-width: 100%;
  height: 255px;
  background-color: #fff;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.contact-page .contact-box .contact-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: start;
}
.contact-page .contact-box .contact-radio .radio-list {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-page .contact-box .contact-radio .radio-list .list-text {
  font: 300 14px "Hiragino Kaku Gothic Pro";
  color: #333;
}
@media screen and (max-width: 768px) {
  .contact-page .contact-box .contact-radio {
    display: block;
  }
}
.contact-page .contact-box select {
  margin-top: 10px;
  padding-left: 10px;
  font: 300 14px "Hiragino Kaku Gothic Pro";
  width: 300px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/*# sourceMappingURL=style.css.map */